In [1]:
#First trend:
# The main player of Heroes of Pymoli is male. The number of male player accounts for 80.72%.

#Second trend:
# The total purchase from male player is larger than that from female player. However the average purchase price is the similar. 
# Thus there is no purchase power difference between male player and female player in this game.

#Third trend:
# The main players'age range is from 18 to 22 years old.They've purchased 251 items and spent	$736.54 in total so far.

In [2]:
# Read CSV
import pandas as pd
file_path = 'data/purchase_data.json'
hp1_df = pd.read_json(file_path)
hp1_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
file_path = 'data/purchase_data2.json'
hp2_df = pd.read_json(file_path)
hp2_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [4]:
hp_df = hp1_df.append(hp2_df)
hp_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
#Player Count

In [6]:
# df['column'].unique() (shows every element of the series that appears only once)
# hp_df['SN'].unique()
Total_Number_of_Players = len(hp_df['SN'].unique())
Total_Number_of_Players
pc = {'Total Players': [Total_Number_of_Players]}
p_df = pd.DataFrame(pc)
p_df

   Total Players
0            612

In [7]:
# Purchasing Analysis (Total)
#•Number of Unique Items
#•Average Purchase Price
#•Total Number of Purchases
#•Total Revenue

In [8]:
#df['column'].value_counts() (counts the unique values in a column)
hp_df['SN'].value_counts().head()
hp_df['Item Name'].value_counts().head()

Final Critic                            14
Stormcaller                             12
Arcane Gem                              12
Betrayal, Whisper of Grieving Widows    11
Trickster                               10
Name: Item Name, dtype: int64

In [9]:
# Number of Unique Items
Number_of_Unique_Items = len(hp_df['Item Name'].value_counts())
Number_of_Unique_Items

180

In [10]:
# Total Number of Purchases
Total_Number_of_Purchases = len(hp_df)
Total_Number_of_Purchases

858

In [11]:
# Total Revenue
Total_Revenue = hp_df['Price'].sum()
Total_Revenue

2514.4299999999967

In [12]:
# Average Purchase Price
Average_Purchase_Price = Total_Revenue / Total_Number_of_Purchases
Average_Purchase_Price

2.9305710955710915

In [13]:
pa = {'Number of Unique Items': [Number_of_Unique_Items],
      'Average Price': [Average_Purchase_Price],
      'Number of Purchases': [Total_Number_of_Purchases],
      'Total Revenue': [Total_Revenue]}
pa_df = pd.DataFrame(pa)
#pa_df

In [14]:
# Gender Demographics
#•Percentage and Count of Male Players
#•Percentage and Count of Female Players
#•Percentage and Count of Other / Non-Disclosed

In [15]:
gd_df = hp_df.groupby('Gender')['SN'].nunique()
gd_df

Gender
Female                   112
Male                     498
Other / Non-Disclosed      9
Name: SN, dtype: int64

In [16]:
u_hp_df = hp_df.drop_duplicates(['SN'], keep = 'last')
#u_hp_df.head()

In [17]:
# Percentage and Count of Male Players
gender = u_hp_df['Gender'].value_counts()
gender

Male                     494
Female                   109
Other / Non-Disclosed      9
Name: Gender, dtype: int64

In [18]:
u_hp_df['Gender'].value_counts().sum()

612

In [19]:
male_players = gender[0]
male_players

494

In [20]:
total_players = u_hp_df['Gender'].value_counts().sum()
percentage_male_player = male_players / total_players
percentage_male_player

0.80718954248366015

In [21]:
# Percentage and Count of Female Players
female_players = gender[1]
female_players

109

In [22]:
total_players = u_hp_df['Gender'].value_counts().sum()
# percentage_female_player = "{:.2%}".format(female_players / total_players)
percentage_female_player = female_players / total_players
percentage_female_player

0.1781045751633987

In [23]:
# Percentage and Count of Other / Non-Disclosed
Other_NonDisclosed_players = gender[2]
Other_NonDisclosed_players

9

In [24]:
total_players = u_hp_df['Gender'].value_counts().sum()
# percentage_Other_NonDisclosed_player = "{:.2%}".format(female_players / total_players)
percenttage_other_nondisclosed_player = Other_NonDisclosed_players / total_players
percenttage_other_nondisclosed_player

0.014705882352941176

In [25]:
gender_index = ["Male", "Female", "Other/NonDisclosed"]
Percentage_of_Players = [percentage_male_player, percentage_female_player, percenttage_other_nondisclosed_player]
Total_Count = [male_players, female_players, Other_NonDisclosed_players]
gd = {'Percentage of Players': Percentage_of_Players,
      'Total Count': Total_Count,}
gd_df = pd.DataFrame(gd, index=gender_index)
gd_df['Percentage of Players'] = gd_df['Percentage of Players'].map("{:.2%}".format)
gd_df

                   Percentage of Players  Total Count
Male                              80.72%          494
Female                            17.81%          109
Other/NonDisclosed                 1.47%            9

In [26]:
# Purchasing Analysis (Gender) 
# The below each broken by gender
# ● Purchase Count
# ● Average Purchase Price
# ● Total Purchase Value
# ● Normalized Totals

In [27]:
g_df = hp_df.groupby('Gender').agg({'Price': 'sum','Item ID': 'count'})
#g_df

In [28]:
pag_total_purchase_balue = g_df['Price']
pag_purchase_count = g_df['Item ID']
pag_apc = [(x*1.0)/y for x, y in zip(pag_total_purchase_balue, pag_purchase_count)]
g_df['Average Purchase Price'] = pd.Series(pag_apc, index=g_df.index)
#g_df

In [29]:
max_price = hp_df['Price'].max()
min_price = hp_df['Price'].min()
mean_price = hp_df['Price'].mean()
Normalized_Totals = [(x- mean_price)/(max_price - min_price) for x in g_df['Price']]
Normalized_Totals

[107.21613967033807, 521.46295900876009, 8.8878953955289823]

In [30]:
pag_total_purchase_balue = g_df['Price']
pag_purchase_count = g_df['Item ID']
pag_apc = [(x*1.0)/y for x, y in zip(pag_total_purchase_balue, pag_purchase_count)]
g_df['Average Purchase Price'] = pd.Series(pag_apc, index=g_df.index)
g_df['Normalized Totals'] = pd.Series(Normalized_Totals, index=g_df.index)
g_df = g_df.rename(index=str,columns={'Price': 'Total Purchase Value', 'Item ID': 'Purchase Count'})
g_df['Average Purchase Price'] = g_df['Average Purchase Price'].map('${:,.2f}'.format)
g_df['Total Purchase Value'] = g_df['Total Purchase Value'].map('${:,.2f}'.format)
g_df

,Total Purchase Value,Purchase Count,Average Purchase Price,Normalized Totals
Gender,,,,
Female,$424.29,149,$2.85,107.216140
Male,"$2,052.28",697,$2.94,521.462959
Other / Non-Disclosed,$37.86,12,$3.15,8.887895

In [31]:
#Age Demographics
#•The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.) 
#•Purchase Count
#•Average Purchase Price
#•Total Purchase Value
#•Normalized Totals

In [32]:
hp_df['Age'].max()

45

In [33]:
hp_df['Age'].min()

7

In [34]:
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 45]

In [35]:
group_names = ['(6,10]', '(10,14]', '(14,18]', '(18,22]', '(22,26]', '(26,30]','(30,34]','(34,38]','(38,42]','>42']

In [36]:
Age_Range = pd.cut(hp_df['Age'], bins, labels=group_names)
hp_df['Age Range'] = pd.cut(hp_df['Age'], bins, labels=group_names)
Age_Range.head()

0    (34,38]
1    (18,22]
2    (30,34]
3    (18,22]
4    (22,26]
Name: Age, dtype: category
Categories (10, object): [(6,10] < (10,14] < (14,18] < (18,22] ... (30,34] < (34,38] < (38,42] < >42]

In [37]:
#hp_df.head()

In [38]:
age_range_count = hp_df['Age Range'].value_counts()
#age_range_count

In [39]:
ar_df = hp_df.groupby('Age Range').Price.sum()
#ar_df

In [40]:
ar_df[1]

92.749999999999986

In [41]:
ar_pc = []
ar_pt = []
ar_apc = []
ar_nt = []
for x in range(10):
    pc = age_range_count[x]
    ar_pc.append(pc)
for x in range(10):
    tc = ar_df[x]
    ar_pt.append(tc)
ar_apc = [(x*1.0)/y for x, y in zip(ar_pt, ar_pc)]
for x in range(10):
    n = (ar_pt[x] - - mean_price)/(max_price - min_price)
    ar_nt.append(n)
#ar_nt

In [42]:
age_df = hp_df.groupby('Age Range').agg({'Price': 'sum'})
age_df['Purchase Count'] = pd.Series(ar_pc, index=age_df.index)
age_df['Average Purchase Price'] = pd.Series(ar_pc, index=age_df.index)
age_df['Normalized Totals'] = pd.Series(ar_nt, index=age_df.index)
age_df = age_df.rename(columns={'Price': 'Total Purchase Value'})
age_df['Average Purchase Price'] = age_df['Average Purchase Price'].map('${:,.2f}'.format)
age_df['Total Purchase Value'] = age_df['Total Purchase Value'].map('${:,.2f}'.format)
age_df

,Total Purchase Value,Purchase Count,Average Purchase Price,Normalized Totals
Age Range,,,,
"(6,10]",$110.44,37,$37.00,28.847474
"(10,14]",$92.75,34,$34.00,24.346201
"(14,18]",$349.73,122,$122.00,89.735514
"(18,22]",$736.54,251,$251.00,188.160451
"(22,26]",$675.63,230,$230.00,172.661723
"(26,30]",$198.76,67,$67.00,51.320756
"(30,34]",$151.41,51,$51.00,39.272410
"(34,38]",$122.78,42,$42.00,31.987423
"(38,42]",$69.86,22,$22.00,18.521774
>42,$6.53,2,$2.00,2.407270

In [95]:
#Top Spenders
#•Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#•SN
#•Purchase Count
#•Average Purchase Price
#•Total Purchase Value

In [96]:
tops_df = hp_df.groupby('SN').agg({'Price': 'sum','Item ID': 'count'})
top5_df = tops_df.nlargest(5, 'Price')
top5_df = top5_df.rename(columns={'Price': 'Total Purchase Value', 'Item ID': 'Purchase Count'})
#top5_df['Total Purchase Value'] = top5_df['Total Purchase Value'].map('${:,.2f}'.format)
#top5_df

In [97]:
top5 = list(top5_df.index.values)
top5

['Undirrala66', 'Aerithllora36', 'Saedue76', 'Sondim43', 'Mindimnya67']

In [98]:
top5c_df = hp_df['SN'].value_counts()
top5c_df.head()

Undirrala66    5
Hailaphos89    4
Sondastan54    4
Saedue76       4
Qarwen67       4
Name: SN, dtype: int64

In [99]:
t5_pt = top5_df['Total Purchase Value'].tolist()
t5_pt

[17.06, 15.1, 13.56, 13.02, 12.739999999999998]

In [100]:
t5_pc = top5_df['Purchase Count'].tolist()
t5_pc

[5, 4, 4, 4, 4]

In [101]:
t5_apc = [(x*1.0)/y for x, y in zip(t5_pt, t5_pc)]
t5_apc

[3.412, 3.775, 3.39, 3.255, 3.1849999999999996]

In [102]:
top5_df['Average Purchase Price'] = pd.Series(t5_apc, index=top5_df.index)
top5_df = top5_df.rename(columns={'Price': 'Total Purchase Value', 'Item ID': 'Purchase Count'})
top5_df['Total Purchase Value'] = top5_df['Total Purchase Value'].map('${:,.2f}'.format)
top5_df['Average Purchase Price'] = top5_df['Average Purchase Price'].map('${:,.2f}'.format)
top5_df

              Total Purchase Value  Purchase Count Average Purchase Price
SN
Undirrala66                 $17.06               5                  $3.41
Aerithllora36               $15.10               4                  $3.77
Saedue76                    $13.56               4                  $3.39
Sondim43                    $13.02               4                  $3.25
Mindimnya67                 $12.74               4                  $3.18

In [103]:
#Most Popular Items
#•Identify the 5 most popular items by purchase count, then list (in a table):
#•Item ID
#•Item Name
#•Purchase Count
#•Item Price
#•Total Purchase Value

In [105]:
topsi_df = hp_df[['Item ID','Item Name','Price']]
new_topsi_df = topsi_df.groupby(['Item ID','Item Name','Price']).agg({'Price': 'sum','Item ID': 'count'})
top5i_df = new_topsi_df.nlargest(5, 'Item ID')
top5i_df = top5i_df.rename(columns={'Price': 'Total Purchase Value', 'Item ID': 'Purchase Count'})
top5i_df['Total Purchase Value'] = top5i_df['Total Purchase Value'].map('${:,.2f}'.format)
#top5i_df['Price'] = top5i_df['Price'].map('${:,.2f}'.format)
top5i_df

,,,Total Purchase Value,Purchase Count
Item ID,Item Name,Price,,
39,"Betrayal, Whisper of Grieving Widows",2.35,$25.85,11
84,Arcane Gem,2.23,$24.53,11
13,Serenity,1.49,$13.41,9
31,Trickster,2.07,$18.63,9
34,Retribution Axe,4.14,$37.26,9

In [64]:
#Most Profitable Items
#•Identify the 5 most profitable items by total purchase value, then list (in a table):
#•Item ID
#•Item Name
#•Purchase Count
#•Item Price
#•Total Purchase Value

In [65]:
topsip_df = hp_df[['Item ID','Item Name','Price']]
new_topsip_df = topsip_df.groupby(['Item ID','Item Name','Price']).agg({'Price': 'sum','Item ID': 'count'})
top5ip_df = new_topsip_df.nlargest(5, 'Price')
top5ip_df = top5ip_df.rename(columns={'Price': 'Total Purchase Value', 'Item ID': 'Purchase Count'})
top5ip_df['Total Purchase Value'] = top5ip_df['Total Purchase Value'].map('${:,.2f}'.format)
top5ip_df

                                         Total Purchase Value  Purchase Count
Item ID Item Name                  Price
34      Retribution Axe            4.14                $37.26               9
115     Spectral Diamond Doomblade 4.25                $29.75               7
32      Orenmir                    4.95                $29.70               6
103     Singed Scalpel             4.87                $29.22               6
107     Splitter, Foe Of Subtlety  3.61                $28.88               8